<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>音视频sdk老师demo</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<div class="video-box">
    <p>自己视频:我是老师</p>
    
   
    <ul id="my-box">
        <li id="my"></li>
    </ul>
    <p>其他人视频</p>
    <ul id="others"></ul>
</div>
<div class="chat-box">
    <p><input type="text" id="msg" /><input type="button" id="btn-send" value="发送消息" /></p>
    <ul id="msg-ul"></ul>
</div>
<div class="people-line">
    <p>在线列表:</p>
    <ul id="user-list"></ul>

</div>
<!--<div class="introduce">
    <img src="img/teacher.png" />
    
</div>-->
</body>
</html>

<script src="https://class.csslcloud.net/static/dist/js/websdk_classroom.js"></script>
<!--引用本地文件-->
<script src="../js/jquery.min.js"></script>
<script src="../js/teacher.js"></script>
